
.icon-clock:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-skype:before { content: '\e80c'; } /* '' */
.icon-whatsapp:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-left-big:before { content: '\e80f'; } /* '' */
.icon-viber:before { content: '\e810'; } /* '' */
.icon-right-big:before { content: '\e811'; } /* '' */
.icon-icq:before { content: '\e824'; } /* '' */
.icon-facebook-messenger:before { content: '\e825'; } /* '' */
.icon-instagram:before { content: '\e826'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */