/**
  <div class="modal">
    <div class="modal__weapper">
      <span class="modal__close">&times;</span>
      <header class="modal__header">Заголовок</header>
      <div class="modal__content">
        Some text in the Modal..
      </div>
      <footer class="modal__footer">Нижний колонтитул</footer>
    </div>
  </div>
 */
  
  $z-index: 600;
  .modal {
    @include overlay();
    &__weapper {
      display: block;
      width: 55em;
      max-width: 95%;
      max-height: 95%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      overflow: auto;
      z-index: $z-index;
      background: #fff;

      padding: 0 1.7rem;
      box-sizing: border-box;

      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    &__close {
      cursor: pointer;
      position: absolute;
      top: .5em;
      right: .2em;
      display: inline-block;
      font-size: 3em;
      line-height: 0;
      font-weight: bold;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    &__header {
      padding-top: 1em;
    }
    &__footer {
      padding-bottom: 1em;
    }
    &__content {
      padding-top: 1.8em;
      padding-bottom: 1.5em;
    }

    
  }